<!doctype html>
<title>Firewall IP Controller</title>

<script>
  async function whitelist(whitelist, ip_addr) {
    resp = await fetch(`whitelist/${whitelist}/${ip_addr}`, {method: "POST"});
    console.log(resp);
  }
</script>

<section class="content">
  <table>
    <tr>
      <th>IP address</th>
      <th>Whitelisted</th>
      <th>Blacklisted</th>
    </tr>

    {% for client in ip_clients %}
    <tr>
      <td>{{ client.ip_address }}</td>
      <td>
        <button onclick="whitelist('{{ not client.whitelisted }}', '{{ client.ip_address }}')">
          Currently: {{ client.whitelisted }}
        </button>
      </td>
      <td>{{ client.blacklisted }}</td>
    </tr>
    {% endfor %}
  </table>
</section>