{% extends "base.html" %}

{% block title %} Reverse proxy {% endblock %}

{% block content %}
<script src="https://unpkg.com/vue@3"></script>


<div id="app" class="h-100">
    <div class="section">
        <div class="section-title btn btn-dark">
            Reverse Proxy Config
        </div>
        <div class="card">
            <table>
                <tr >
                    <td>site_name:</td>
                    <td>
                        <input v-model="config.site_name">
                    </td>
                </tr>
                <tr >
                    <td>Save config: </td>
                    <td>
                        <button v-on:click="setConfig()">Save</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
<script>
    app = Vue.createApp({
        data() {
            return {
                config: {},
            }
        },

        async created() {
            fetch("config.json").then(resp => {
                resp.json().then(json => this.config = json)
            })
        },

        methods: {
            async setConfig() {
                let resp = await POST("config.json",
                    this.config,
                );
                this.config = await resp.json()
            },

        },
        delimeter: ["[[", "]]"]
    }).mount('#app')
</script>

{% endblock %}