{% extends "base.html" %}

{% block title %} 401 :( {% endblock %}

{% block content %}
<script src="https://unpkg.com/vue@3"></script>


<div id="app" class="h-100">
    {% if username is not none %}
    <div class="section">
        <div class="card card-body">
            <p class="section-title card-name">You are logged in allready as "{{ username }}"!</p>
            <p class="card-desc">You wanted to access "login" page.</p>
            <p class="card-desc">You have to log out first, before you may Log in!</p>
            <a href="logout" class="section-button button-left">
                <h4 class="btn btn-dark">Log out</h4>
            </a>
        </div>
    </div>
    {% else %}
    <div class="section d-flex justify-content-center">
        <div class="card" v-on:keyup.enter="postLogin(username, password)">
            <h3 section-title>LOGIN:</h3>
            <div class="card-name">
                <label for="username-field">Username:</label>
                <input v-model="username" name="username" id="username-field" />
            </div>
            <div class="card-name">
                <label for="password-field">Password:</label>
                <input v-model="password" name="password" id="password-field" />
            </div>
            <div class="section-button button-left">
                <button class="btn btn-dark" v-on:click="postLogin(username, password)">Log in</button>
            </div>
        </div>
    </div>
    <div class="section d-flex justify-content-center">
        <div class="card">
            <p class="card-desc">If you don't have an account register first.</p>
            <a href="register" class="section-button button-left">
                <h5 class="btn btn-dark">Register</h5>
            </a>
        </div>
    </div>

    {% endif %}

</div>
<script>
    app = Vue.createApp({
        data() {
            return {
                username: "",
                password: "",
                logged_in: false,
            }
        },

        async created() {
        },

        methods: {
            async postLogin(username, password) {
                let resp = await POST("login", {
                    username,
                    password,
                });
                if (resp.status === 200) {
                    alert("Logged in. Redirect.")
                    window.location.href = '/logged'
                } else (
                    alert(JSON.stringify(await resp.json()))
                )
            },
        },
        delimeters: ["[[", "]]"]
    }).mount('#app')
</script>
{% endblock %}